@page "/"

@inject ILocalStorageService LocalStorage
@inject IApiHelper ApiHelper
@inject ILoggedInUserModel LoggedInUserModel

<div class="col-6">
	<h1>Hello, @Username</h1>
</div>

@code {
	public string Username { get; set; } = "User";

	protected override async Task OnInitializedAsync()
	{
		var token = await LocalStorage.GetItemAsync<string>("authToken");
		if (token != null)
		{
			await ApiHelper.GetLoggedInUserInfo(token);
			Username = LoggedInUserModel.FirstName;
		}
	}
}