@page "/profile"

@inject ILocalStorageService LocalStorage
@inject IApiHelper ApiHelper
@inject ILoggedInUserModel LoggedInUserModel

<h1>Sales Page</h1>

<div class="container">
	<div class="row">
		<h2>Todo:</h2>
        <ul>
            <li>Make a sales history page</li>
            <li>Make a product-inventory management page</li>
            <li>Make a profile page</li>
            <li>Make a registration page</li>

        </ul>
	</div>
</div>


@code {
	public string Username { get; set; } = "User";

	protected override async Task OnInitializedAsync()
	{
		var token = await LocalStorage.GetItemAsync<string>("authToken");
		if (token != null)
		{
			await ApiHelper.GetLoggedInUserInfo(token);
			Username = LoggedInUserModel.FirstName;
		}
	}
}