@page "/todo"

<h1>Sales Page</h1>

<div class="container">
	<div class="row">
		<h2>Todo: </h2>
        <ul>
            <li>Make a sales history page</li>
            <li>Make a product-inventory management page</li>
            <li>Make a user profile page</li>
	        <li>Make a user registration page</li>
	        <li>Authorize pages based on user-role</li>
        </ul>
	</div>
</div>


@code {

}