@inherits LayoutComponentBase

<div>
	<Navigation />

	<main id="content-container" class="container content-container">
		<article class="content px-4 bg-content">
			@Body
        </article>
	</main>

	<Footer></Footer>
</div>

@code {
}

