.content-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.bg-content {
	padding-bottom: 20px;
	margin: 60px 0 30px 0;
	flex-grow: 0;
}

@media (min-width: 992px) {
	.bg-content {
		margin: 60px 0 30px 0;
	}
}