<footer class="container-fluid bg-footer footer">
	<div class="container">
		<!-- copyright content goes here -->
		Copyright <span>Swen Steger</span> © @Year
	</div>
</footer>

@code {
	private int Year => DateTime.Now.Year;
}