<div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 56px);">
    <div>
        <h3>Loading...</h3>
        <!-- You can add more content, a spinner, or any other visual element to make the loading message more interesting -->
    </div>
</div>

@code {
	
}